#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  background: #9cf8b6;
  padding: 10px;
}

nav a {
  text-decoration: none;
  margin-right: 20px;
  font-size: 24px;

}